@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #eeff6af8;
    font-family:  'Merriweather', serif;
    font-size: large;
}


.nav-heading{
    font-size: 2.5rem;
    color: rgb(212, 45, 45);
    margin-right: 2rem;
    margin-top: 0px;
    

}

h1 {
    color: rgb(212, 45, 45);
}
h2{
    color: rgb(212, 45, 45);

}
h3{
    color: rgb(212, 45, 45);

}
p{
    font-size: x-large;
}







/* ****************right side information div************ */
.information-div{
    border: 1px solid black;
    height: 60vh;
    padding-right: 1rem;
    padding-left: 1rem;
    position: fixed;
    right: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 12px 15px 19px #c3ec70;
    



}
/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 25vh;
    background-color: black;
    color: bisque;
}


/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;

   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;


   
}
.arrow-button-container{
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}









.header{
 

    display: flex;

   
   
}

.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color: rgb(212, 45, 45);

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: rgb(212, 45, 45);

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
   
}

.link-items{
    font-size: 1.5rem;
    text-decoration: none;
    color: brown;

    
}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 4rem;

  
}

.links-div{
  
margin-top: 0%;

}
.content-div{
    margin: 0rem;
   

}



/* ******* nav bar **** */

.nav-bar{
    padding: auto;
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon-nav{
    /* justify-content: space-between; */
    margin: 0.5rem;
    /* margin-left: 1rem; */
}
.icon-div{
    margin-left: 6rem;


}
h4{
    /* font-size: larger; */
    margin-top: 1rem;

}




























/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;

      
      
        /* top: 4rem; */
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }



.information-div{
    visibility: hidden;
}

/* ******* nav bar **** */

.nav-bar{
    /* padding: auto; */
    border: 1px solid;
    width: 80rem;
    display: flex;
    flex-wrap: wrap;
  
}

.icon-nav{
    /* justify-content: space-between; */
    margin: 0.5rem;
    /* margin-left: 1rem; */
}
.icon-div{
    margin-left: 6rem;


}
h4{
    /* font-size: larger; */
    margin-top: 1rem;

}




}