@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #e4ec9bf8;
    font-family:  'Merriweather', serif;
    font-size: large;
    margin: auto;
}


.header{
    display: flex;
}

.nav-heading{
    font-size: 2rem;
    color:  rgb(117, 100, 100);
    margin-right: 15rem;
    margin-top: 2px;
}



.list-item{
    margin-left: auto;

    
}
label{
    font-size: x-large;
    color: rgb(117, 100, 100);

}



.flex{
    display: flex;
    font-size: x-large;
  
    
}
.hero{
    padding-top: 1vh;
    max-width: 500px;
    display: black;
    margin: auto;
    text-align: center;
}



.banner-heading{
    padding-right: 5rem;
    display: flex;
    flex-direction: column;

    align-items: right; 
    margin: 5vh;
    margin-bottom: auto;
   

    
}
.list{
    margin-left: auto;
    font-size: xx-large;
    font-family: 'Merriweather', serif;
    list-style: none;
    display: inline;
    
   
 
    
}
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}
.nav-links{
    color: rgb(117, 100, 100);

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
h2{
    text-align: center;

}

.heading{
    margin-left: 20vh;
    text-align: left;
    padding-bottom: 5rem;
    padding-top: 1vh;
    align-items: left; 
    width: 45rem;
    font-size: x-large;

}

.buttonstarted{
   padding-top: 1vh;
   margin-left: 2rem;
   margin-top: 1rem;
   margin-bottom: 2vh;
   border-radius: 1.5rem;border;
   width: 15rem;
   background-color:#fb7185;
   border-bottom: auto;
   font-weight:bold ;
   font-size: xx-large;
  

   
}
.get-started{
    color: rgb(254, 254, 249)
}
.small-container{
   
    margin-bottom: 0.5rem;
    margin-right: 10rem;
    font-size: xx-large;
    max-width: 50%;
   

}


.yash{ 
    padding-top: 70vh;
    padding-right: 10vh;
}


/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    .flex{
        size: 0rem;
        height: 10vh;
        width: 100px;
    }
    #image{
      max-width: 50px;
       

    }
    .hero{
        margin-top: 10rem;
        margin-right: 15rem;
        max-width: 250px;  
    }
   
    .banner-heading{
        margin-left: 25rem; 
        
        
    }
    .small-container{
        max-width: 100px;
    }}