@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Koulen&family=Oswald:wght@300;500&family=Poppins:wght@300&display=swap');

@import"./alert/alert.css"


body {

    background-color: #fee2e2;
    font-family: 'EB Garamond', serif;
    font-size: large;

 
}

.nav-heading{
    font-size: 2rem;
    color: gray;
    margin-right: 2rem;
    margin-top: 0px;


}
.header{
    display: flex;
}




.list-item{
    margin-left: auto;

    
}
label{
    font-size: x-large;
    color: gray

}



.flex{
    display: flex;
    font-size: x-large;
  
    
}
.hero{
    max-width: 300px;
    display: black;
    margin: auto;
    text-align: center;
    

}

.banner-heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; 
    margin: auto;
    margin-bottom: auto;
   

    
}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
    
   
 
    
}
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}
.nav-links{
    color: grey;

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
h2{
    text-align: center;

}

.heading{
    padding-bottom: 0.5rem;
    padding-top: 1vh;
    align-items: left; 
    margin-bottom: 0.5rem;
    width: 35rem
    

}

.buttonstarted{
    background-color:; 
   margin-top: 0.5rem;
   margin-bottom: 1vh;
   border-radius: 0.5rem;border;
   width: 12rem;
   background-color:#fb7185;
   border-bottom: auto;
  

   
}
.get-started{
    color: beige
}
.small-container{
   
    margin-bottom: 0.5rem;
    margin-right: 10rem;
    font-size: xx-large;
    max-width: 50%;
   
   

}



/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    .flex{
        size: 0rem;
        height: 10vh;
        width: 100px;
    }
    #image{
      max-width: 50px;
       

    }
    .hero{
        margin-top: 10rem;
        margin-right: 15rem;
        max-width: 200px;
        
    }
    .banner-heading{
        margin-left: 25rem; 
        
        
    }
    .small-container{
        max-width: 100px;
    }