@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

:root {
    --primary-color: #330033;
    --secondary-color:
}

body{
    background-color: #CCFF00;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
/* ==========================xxxxxxxxx======================== */

#Main-Nav{
  margin: 0;  
}




.header{
    display: flex;
}

.nav-heading{
    font-size: 45px;
    color:var(--primary-color);
    margin: 0 80px 0 0; 
    
}
/* 
============================================================ */

.form{
    margin: auto;
}

.search {
    font-size: 30px;
    font-weight: bolder;
    color: var(--primary-color);
}

.input{
    padding: 5px;
    border-radius: 10px;

}

.input:hover{
    border-color: #fb7185;
}


.submit{
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 5px;
  color: black;
  background-color: rgb(181, 222, 173);
}

/* ============================================= */

.list-item{
    margin-left: auto;
    padding-right: 0.4rem;
}


.list{
    margin-left: auto;
    font-size: xx-large;
    font-family: 'Merriweather', serif;
    list-style: none;
    display: inline;
}




label{
    font-size: x-large;
    color: rgb(117, 100, 100);

}



.flex{
    display: flex;
    font-size: x-large;
  
    
}
.hero{
    padding-top: 1rem;
    padding-left: 1rem;
    max-width: 500px;
    display: black;
    margin: auto;
    text-align: center;
}

.flex {
    margin-left: 0rem;
}

.banner-heading{
    font-size: 1rem;
    padding-right: 5rem;
    padding-left: 5rem;
    align-items: center; 

}


.nav-links{
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 2rem;
} 


h2{
    text-align: center;

}

.heading{
    padding-left: 5rem;
    width: 35rem;
    font-size: x-large;

}

.buttonstarted{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-bottom: 1rem;
   border-radius: 1rem;
   width: 16rem;
   background-color:#fb7185;
   font-weight:bold ;
   font-size: xx-large; 

}

/* 
================xxxxx======================== */

.get-started{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.get-started:hover{
    color: rgb(135, 230, 116);
    text-decoration: none;
}

/* ==================xxxxxx========================= */
.small-container{
   
    margin-bottom: 0.5rem;
    margin-right: 10rem;
    font-size: xx-large;
    max-width: 50%;
   

}

marquee{
    font-size: 21px;
    font-style: ;
    margin: 20px;
}


