@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #e4ec9bf8;
    font-family:  'Merriweather', serif;
    font-size: large;
}

p{
    font-size: x-large;
}
h1 {
    color: rgb(212, 45, 45);
}
h2{
    color: rgb(212, 45, 45);

}
h3{
    color: rgb(212, 45, 45);

}




.nav-heading{
    font-size: 2.5rem;
    color: rgb(212, 45, 45);
    margin-right: 2rem;
    margin-top: 0px;
    

}

.header{
 

    display: flex;

   
   
}

.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color: rgb(212, 45, 45);

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: rgb(212, 45, 45);

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
   
}

.link-items{
    font-size: 1.5rem;
    text-decoration: none;
    color: brown;

    
}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 4rem;

  
}

.links-div{
  
margin-top: 0%;

}
.content-div{
    margin: auto;
    padding: 2rem;
    margin-top: 1rem;

}


/* ****************right side information div************ */
.information-div{
    border: 1px solid rgb(224, 38, 38);
    height: 40vh;
    width: 15%;
    padding: 1rem;
    position: fixed;
    right: 0px;




}










/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;

   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;


   
}
.arrow-button-container{
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}



/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 25vh;
    background-color: black;
    color: bisque;
}
/* ***************normal list************ */


.normal-list-items{
    list-style: none;
    border: 1px solid black;
    margin: 0.5rem;
}



/* *************** Notification  list************ */



.notification-list-items{
    list-style: none;
    width: 90%;
    border: 1px solid black;
    margin: 0.5rem;
    font-size: x-large;
   
}




.avatars{
    height: 4ch;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid black;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}


/* *************** Selection  list************ */




.selection-list-item{
    list-style: none;
    border: 1px solid black;
    margin: 1rem;  
    height: 5vh; 
}

.input-feild{
    margin-left: 30rem;
}






























/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;

      
      
        /* top: 4rem; */
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }



.information-div{
    visibility: hidden;
}




/* *************** Notification  list************ */



.notification-list-items{
    list-style: none;
    width: 90%;
    border: 1px solid black;
    margin: 0.5rem;
    font-size: large;
   
}




.avatars{
    height: 2ch;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid black;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}


/* *************** Selection  list************ */




.selection-list-item{
    list-style: none;
    border: 1px solid black;
    margin: 1rem; 
    width: 100%; 
    height: 6vh; 
}

.input-feild{
    margin-left: 9rem;
}
}