@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #eeff6af8;
    font-family:  'Merriweather', serif;
    font-size: large;
    text-align: center;
}


.nav-heading{
    font-size: 2rem;
    padding-inline: 2rem;
    color: grey;
    margin-right: 2rem;
    margin-top: 0px;
    

}


.header{
    display: flex;
}

h1 {
    color:   rgb(89, 84, 124);
}
h2{
    color:  rgb(89, 84, 124);

}
h3{
    color:  black;

}
p{
    font-size: medium;
}



/* ****************right side information div************ */



.information-div{
    border: 1px solid black;
    height: 43vh;
    width: 15%;
    padding-right: 1rem;
    padding-left: 1rem;
    position: fixed;
    right: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 12px 15px 19px #c3ec70;
    




}
/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 25vh;
    background-color: black;
    color: bisque;
}


/* ***************arrow button************ */

.arrow-button-1{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;

}
.arrow-button-2{ 
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   
    
}

.arrow-button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;  
  }
  
  





.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color: gray;

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: grey;

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
   
}

.link-items{
    font-size: 1rem;
    margin-bottom: auto;
    padding-bottom:  4rem;
    text-decoration: none;
    color: black;

    
}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 2.5rem;

  
}

.links-div{
  
margin-top: 0%;

}
.content-div{

    margin: auto;
    padding: 2rem;
    margin-top: 1rem;
}




/* ************ grid with two items ********* */




.grid-item-two{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid1-items{
    font-size: large;
    padding: 1rem;
    

}



/* ************ grid with two items ********* */




.grid-item-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid2-items{
    font-size: large;
    padding: 1rem;



}



/* ************ grid with five items ********* */




.grid-item-five{
    display: grid;
    grid-template-columns:   1fr  1fr 1fr; 
   

}

.grid3-items{
    font-size: large;
    padding: 1rem;
}

/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;

      
      
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }



.information-div{
    visibility: hidden;
}
}