@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #CCFF00;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

/* ================================================== */
#Main-Nav{
    margin: 0;  
  }
  
  .header{
      display: flex;
  }
  
  .nav-heading{
      font-size: 45px;
      color:var(--primary-color);
      margin: 0; 
      
  }

/* ========================================================== */.form{
    margin: auto ;
}
.input{
    padding: 5px;
    border-radius: 10px;
    margin: 0 3px 0 0;

}

.input:hover{
    border-color: #fb7185;
}


.submit{
  padding: 2px 7px;
  font-weight: bold;
  border-radius: 5px;
  color: black;
  background-color: rgb(181, 222, 173);
}
/* ============================================================== */

.list{
    font-size: 25px;
    font-family: 'Merriweather', serif;
    display: inline;
    padding: 0 10px 0 0 ;
}

.nav-links{
    color: var(--primary-color);
    text-decoration: none;
} 

/* ============================================================= */
.main-div{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
}


    #unorder{
        list-style: none;
        position: fixed;
    }
    

/* ====================================================== */


.link-items{
    font-size: 15px;
    font-weight: bolder;
    text-decoration: none;
    color: black;

    
}



.content-div{
    margin: auto;
    padding: 2rem;
    margin-top: 0px;

}
.information-div{
    border: 0.5px solid rgb(68, 157, 109);
    height: 40vh;
    width: 11%;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    right: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 12px 15px 19px #c3ec70;
    margin-right: 1rem;
    font-weight: bold;
    
}





/* *******************text area ******** */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 25vh;
    background-color: black;
    color: bisque;
}

/* ***************arrow button************ */

.arrow-button-1{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   
   
}
.arrow-button-2{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   
   
}


.arrow-button-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
  
    
  }




/* ***************responsive************ */

 