@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #eeff6af8;
    font-family:  'Merriweather', serif;
    font-size: large;
    text-align: center;
}




.nav-heading{
    font-size: 2rem;
    color: rgb(68, 66, 26);
    margin-right: 2rem;
    margin-top: 0.5px;


}

.header{
    display: flex;
}

h1 {
    color:   rgb(89, 84, 124);
}
h2{
    color:  rgb(89, 84, 124);

}
h3{
    color:  black;

}
p{
    font-size: medium;
}





.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color: gray;

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: gray;

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
   
}

.link-items{
    font-size: 1rem;
    margin-bottom: auto;
    padding-bottom:  4rem;
    text-decoration: none;
    color: black;

}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 2.5rem;

  
}

.links-div{
  
margin-top: 0%;

}



/* ****************middle content  information div************ */

.content-div{
    margin-top: 0rem;

}




/* ****************right side information div************ */
.information-div{
    border: 1px solid black;
    height: 75vh;
    width: 16%;
    padding-right: 1rem;
    position: fixed;
    text-align: center;
    right: 0px;
    font-family: 'Bebas Neue', cursive;

}




/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 25vh;
    background-color: black;
    color: bisque;
}



/* ***************basic button div************ */

.basic-button-container{
    border-radius: 5rem;
    border: solid black;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    
}
.text-button{
    font-size: large;
    margin: 2rem;
    height: 3rem;
    margin-top: 2rem;
    background-color: rgb(161, 238, 163);
    border-radius: 4rem;
    width: 6rem;
    font-weight: bold;
}
.contained-button{
    font-size: large;
    margin: 2rem;
    height: 3rem;
    margin-top: 2rem;
    color: antiquewhite;
    font-weight: bold;
    background-color: rgb(198, 76, 217);
    border-radius: 4rem;
    width: 8rem;

}
.outlined-button{
    font-size: large;
    margin: 2rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 4rem;
    font-weight: bold;
    width: 8rem;
    background-color: rgb(66, 189, 70);
    border-color: rgb(68, 44, 207);

}




/* *****************diff size of buttons************** */




.basic-button-container{
    border-radius: 5rem;
    border: solid black;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    
}



.small-button{
    font-size: small;
    height: 2rem;
    color: antiquewhite;
    border-color: rgb(250, 239, 215);
    background-color: rgb(31, 46, 68);
    margin-top: 2.5rem;
    font-weight: bold;
    border-radius: 4px;
 
    
    
  
}
.large-button{
    font-size: large;
    margin: 2rem;
    height: 3rem;
    margin-top: 2rem;
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(31, 46, 68);
    border-radius: 4rem;
    width: 8rem;
     font-weight: bold;
    border-radius: 6px;

}
.xx-large-button{
    font-size: xx-large;
    margin: 2rem;
    height: 4rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    width: 15rem;
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(31, 46, 68);
    font-weight: bold;
    border-radius: 8px;

}




/* ***************diff colors button********* */


#basic-button-container{
    border: 4px solid black;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    
    
}



.green-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 2rem;
    color: white;
    background-color: green;
    border-radius: 2rem;
    width: 8rem;
    font-weight: bold;
    
  
}
.red-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 2rem;
    color: white;
    background-color: red;
    border-radius: 2rem;
    width: 8rem;
    font-weight: bold;
}
.yellow-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 2rem;
    color: white;
    background-color: rgb(255, 225, 0);
    border-radius: 2rem;
    width: 8rem;
    font-weight: bold;
}
.blue-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 2rem;
    color: white;
    background-color: blue;
    border-radius: 2rem;
    width: 8rem;
    font-weight: bold;
}



/* ***************link button********* */

.basic-button-container{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 1rem;
    padding: 1rem;
    
    
}
.facebook-link-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color: rgb(34, 34, 217);
    border-radius: 0.4rem;
    width: 8rem;

}
.instagram-link-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color:#E1306C;
    border-radius: 0.4rem;
    width: 8rem;

}
.facebook{
    text-decoration: none;
    color:rgb(251, 249, 253) ;
}
.instagram{
    text-decoration: none;
    color:rgb(234, 229, 229) 

}




/* ***************icon button********* */
.basic-button-container{
    border: 4px solid black;
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 1rem;
    padding: 0.5rem;
    
    
    
}
.icon-button{
    font-size: small;
    margin: 1rem;
    height: 1rem;
    margin-top: 1rem;
    


}







/* ***************arrow button************ */

.arrow-button-1{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   
    
}
.arrow-button-2{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   
}
.arrow-button-container{
  margin-top: 2rem;
  margin-bottom: 2rem;

  
}



/* ***************floating action  button************ */

.floating-button-container{
    position: relative;



}

.floating-button{
    background-color: rgb(243, 18, 18);
    border-radius: 55%;
    text-decoration: none;
    color: rgb(245, 237, 237);
    border-color: rgb(243, 18, 18) ;
    position: absolute;
    bottom: 6rem;
   right: 14.4rem;
   font-size: 3.7rem;
}










/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;

      
      
        /* top: 4rem; */
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }



.information-div{
    visibility: hidden;
}
.contained-button{
    font-size: large;
    margin: 2rem;
    height: 3rem;
    margin-top: 2rem;
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(67, 39, 189);

    border-radius: 0.4rem;
    width: 15rem;

}
.outlined-button{
    font-size: large;
    margin: 2rem;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    width: 13rem;
    color: rgb(70, 25, 233);
    border-color: rgb(68, 44, 207);

}


.small-button{
    font-size: small;
    height: 3rem;
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(67, 39, 189);
    margin-top: 2.5rem;
 
    
    
  
}
.large-button{
    font-size: large;
    margin: 2rem;
    height: 4rem;
    margin-top: 2rem;
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(67, 39, 189);

    border-radius: 0.4rem;
    width: 13rem;

}
.xx-large-button{
    font-size: x-large;
    margin: 2rem;
    height: 6rem;
    margin-top: 2rem;
    border-radius: 0.4rem;
    width: 17rem;
    color: antiquewhite;
    border-color: antiquewhite;
    background-color: rgb(67, 39, 189);
}




.facebook-link-button{
    font-size: large;
    margin: 1rem;
    height: 3rem;
    margin-top: 3rem;
    color: antiquewhite;
    border-color: rgb(45, 27, 204);
    background-color: blue;

    border-radius: 0.4rem;
    width: 15rem;

}
.instagram-link-button{
    font-size: large;
    margin: 3rem;
    width: 3rem;
    height: 3rem;
    margin-top: 3rem;
    color: rgb(92, 11, 15);
    border-color: rgb(134, 8, 24);
    background-color: rgb(252, 8, 61);

    border-radius: 0.4rem;
    width: 15rem;

}
.facebook{
    text-decoration: none;
    color:rgb(42, 10, 95) ;
}
.instagram{
    text-decoration: none;
    color:rgb(92, 11, 15) ;
}
.icon-button{
    border: none;
    font-size: small;
    margin: 0.1rem;
    height: 0.1rem;
    margin-top:0.1rem;
    max-width: 5px;


}


.floating-button{
    background-color: rgb(243, 18, 18);
    border-radius: 55%;
    text-decoration: none;
    color: rgb(245, 237, 237);
    border-color: rgb(243, 18, 18) ;
    position: absolute;
    bottom: 12rem;
   right: 21rem;
   font-size: 7rem;
}

}
   