@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color:#eeff6af8;
    font-family:  'Merriweather', serif;
    font-size: large;
    text-align: center;
}


.nav-heading{
    font-size: 2rem;
    color: rgb(68, 66, 26);
    margin-right: 2rem;
    margin-top: 0.5px;

}
.header{
    display: flex;
}

h1 {
    color:   rgb(89, 84, 124);
}
h2{
    color:  rgb(89, 84, 124);

}
h3{
    color:  black;

}
p{
    font-size: medium;
}







.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color:  gray;

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: gray;

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
   
}

.link-items{
    font-size: 1rem;
    margin-bottom: auto;
    padding-bottom:  4rem;
    text-decoration: none;
    color: black;

    
}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 2.5rem;

  
}

.links-div{
  
margin-top: 0%;

}
.content-div{
    margin-top: 0rem;

}

p{
    font-size:medium;
}








/* ****************right side information div************ */
.information-div{
    border: 1px solid black;
    height: 45h;
    width: 14%;
    padding-right: 1rem;
    padding-left: 1rem;
    position: fixed;
    right: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 12px 15px 19px #c3ec70;
    
    




}


/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 85%;
    height: 25vh;
    background-color: black;
    color: bisque;
}




/* ***************arrow button************ */

.arrow-button-1{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   
}
.arrow-button-2{
    font-weight: bold;
    font-size: 1.5rem;
    left: 0px;
    color: brown;
    text-decoration: none;
   

   
}
.arrow-button-container{
  margin-top: 2rem;
  margin-bottom: 2rem;

  
}

.nav-heading{
    font-size: 2rem;
    padding-inline: 2rem;
    color: grey;
    margin-right: 2rem;
    margin-top: 0px;
    

}

/* *******************image avatar ******** */
.image-A{
    margin-right: auto;
    margin-left:auto;
}

.avatar-png{
    display: flex;
    border: 3px solid black;
    border-radius: 4rem;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 20px;
    
}
.avatars{
    height: 7ch;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}


/* *******************with content avatar ******** */

.avatar-png2{
    display: flex;
     border: 3px solid black;
    border-radius: 4rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 2px;
    margin-right: auto;
    margin-left:auto; 
    margin-bottom: 10px;
     
   
}
.avatars2{
    height: 25ch;
    margin: 2.5rem;
    border: 3px solid black;
    background-color: bisque;
    box-shadow: 0 10px 20px

}


/* *******************different sizes  of avatar ******** */

.avatar-png3{
    display: flex;
    border: 3px solid black;
    border-radius: 4rem;
    justify-content: center;
    padding: 0.rem;
    margin-bottom: 10px;
    
   
}
.avatars31{
    height: 5ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars32{
    height: 8ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars33{
    height: 11ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}
.avatars34{
    height: 13ch;
    margin: 2.5rem;
    border: 1px solid black;
    border-radius: 40%;
    background-color: bisque;
    box-shadow: 0 2px 5px 
}

/* *******************profile avatar ******** */

.avatar-png2{
    display: flex;
    border: 3px solid black;
    justify-content: center;
    
   
}
.avatars4{
    height: 20ch;
    margin: 2.5rem;
    border: 3px solid black;
    background-color: bisque;
    box-shadow: 0 10px 20px
}
.avatar-4-div{
    display: flex;
}
.avatars5{
    margin: 2rem;
}
.right-click{
    color: rgb(235, 241, 243);
     border: 1px solid black; 
    background-color: yellowgreen

}


/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;

      
      
        /* top: 4rem; */
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }



.information-div{
    visibility: hidden;
}
}
   