@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald:wght@300&display=swap');

body{
    background-color: #e4ec9bf8;
    font-family:  'Merriweather', serif;
    font-size: large;
}


    
 
.nav-heading{
    font-size: 2rem;
    color: gray;
    margin-right: 2rem;
    margin-top: 0.5px;

    

}

h1 {
    color: gray;
}
h2{
    color: grey;

}
h3{
    color:  black;

}
.header{
 

    display: flex;
   

   
}

.list-item{
    margin-left: auto;
}
label{
    font-size: medium;
    color: gray;

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: gray;

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
    
    
   
}

.link-items{
    font-size: 1rem;
    margin-bottom: auto;
    padding-bottom:  4rem;
    text-decoration: none;
    color: black;

    
}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 4rem;
  
}


.links-div{
  
margin-top: 0%;

}

.content-div{
   
    margin-top: 0rem;
    
    

}


p{
    font-size: x-large;
}

/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 90%;
    height: 50vh;
    background-color: black;
    color: bisque;
}









/* ****************alert1 box div************ */
#error-alert-button{
    font-size: x-large;
    color: violet;


}
#warning-alert-button{
    font-size: x-large;
    color: violet;


}
#info-alert-button{
    font-size: x-large;
    color: violet;


}
#success-alert-button{
    font-size: x-large;
    color: violet;


}
.alert-lines{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}
.alert1-container{
    display: flex;
}
.alert-types{
    font-size: xx-large;
}
#output1-div{
    font-size: xx-large;
    color: white;
    background-color: rgb(248, 11, 11);
}
#output2-div{
    font-size: xx-large;
    color: black;
    background-color: rgb(240, 240, 10);
}
#output3-div{
    font-size: xx-large;
    color: white;
    background-color: rgb(41, 36, 63);
}
#output4-div{
    font-size: xx-large;
    color: white;
    background-color: green;
}
.alert2-lines{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;

}
#alert2-lines-1{
    background-color: #3f909b

}
#alert2-lines-2 {
    background-color:#9f83a3

   
    
}
#alert2-lines-3{
    background-color: #e879f9;

    
}
#alert2-lines-4{
    background-color: #fb923c;
    
}
#alert2-lines-5{
    background-color: #eab308;

    
}

/* ****************right side information div************ */
.information-div{
    border: 1px solid black;
    height: 25vh;
    padding: 1rem;
    position: fixed;
    right: 0px;

}
/* ***************arrow button************ */

.arrow-button-1{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1vh;
    border-radius: 0.5rem;
    

   
}
.arrow-button-2{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1vh;
    border-radius: 0.5rem;
    

   
}
.arrow-button-container{
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}



/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;
      
      
    
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }


.information-div{
    visibility: hidden;
}
}
   