
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Koulen&family=Oswald:wght@300;500&family=Poppins:wght@300&display=swap');



body{
    background-color: #fae5cdf8;
    font-family: 'EB Garamond', serif;
    font-size: large;

    
 
}
.nav-heading{
    font-size: 2.5rem;
    color: rgb(212, 45, 45);
    margin-right: 2rem;
    margin-top: 0px;
    

}

h1 {
    color: rgb(212, 45, 45);
}
h2{
    color: rgb(212, 45, 45);

}
h3{
    color: rgb(212, 45, 45);

}
.header{
 

    display: flex;
   
   

   
   
}

.list-item{
    margin-left: auto;
}
label{
    font-size: x-large;
    color: rgb(212, 45, 45);

}
.list{
    margin: 1rem;
    font-size: xx-large;
    list-style: none;
    display: inline;
   
 
    
}
.nav-links{
    color: rgb(212, 45, 45);

    
    text-decoration: none;
    margin-bottom: 2rem;
} 
.form{
    margin-top: 1rem;
    margin-left: 5rem;
}




/* ********************LEFT FEILD ******** */





.main-div{
    margin: 1rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.3fr;
    column-gap: 5rem ;
    
    
   
}

.link-items{
    font-size: 1.5rem;
    text-decoration: none;
    color: brown;

    
}
#unorder{
 
    list-style: none;
    position: fixed;
    top: 4rem;
  
}


.links-div{
  
margin-top: 0%;

}

.content-div{
   
    margin-top: 0rem;
    
    

}


p{
    font-size: x-large;
}

/* ****************text area************ */

.text-area{
    margin-top: 2rem;
    width: 90%;
    height: 50vh;
    background-color: black;
    color: bisque;
}









/* ****************alert1 box div************ */
#error-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
#warning-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
#info-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
#success-alert-button{
    font-size: x-large;
    color: rgb(212, 45, 45);


}
.alert-lines{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}
.alert1-container{
    display: flex;
}
.alert-types{
    font-size: xx-large;
}
#output1-div{
    font-size: xx-large;
    color: white;
    background-color: rgb(204, 51, 51);
}
#output2-div{
    font-size: xx-large;
    color: black;
    background-color: yellow;
}
#output3-div{
    font-size: xx-large;
    color: white;
    background-color: rgb(50, 50, 226);
}
#output4-div{
    font-size: xx-large;
    color: white;
    background-color: green;
}
.alert2-lines{
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;

}
#alert2-lines-1{
    background-color: chocolate;

}
#alert2-lines-2 {
    background-color: green;

   
    
}
#alert2-lines-3{
    background-color: rgb(50, 50, 226);

    
}
#alert2-lines-4{
    background-color: yellow;

    
}
#alert2-lines-5{
    background-color: rgb(204, 51, 51);

    
}

/* ****************right side information div************ */
.information-div{
    border: 1px solid rgb(224, 38, 38);
    height: 50vh;
    padding: 1rem;
    position: fixed;
    right: 0px;

}
/* ***************arrow button************ */

.arrow-button-1{
    font-size: 2rem;
    left: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;

   
}
.arrow-button-2{
    font-size: 2rem;
    right: 0px;
    color:  rgb(224, 38, 38) ;
    text-decoration: none;


   
}
.arrow-button-container{
  margin-top: 3rem;
  margin-bottom: 3rem;

  
}



/* ***************responsive************ */

@media only screen and (max-width: 768px)  {
    /* For mobile phones: */
    html{
        font-size: 50%;
    }
    #unorder{
 
        list-style: none;
        position: relative;
      
      
        /* top: 4rem; */
      
    }
    .links-div{
       margin: -5rem;
       

    }
    .link-items{
        font-size: larger;
       
    }
    .content-div{
        margin: 8rem;
    }


.information-div{
    visibility: hidden;
}
}
   